/* Experience Block */
.experience-block {
    padding: 80px 0;
    background-color: #f7f7f7;
}

.experience-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.experience-left-container {
    width: 35%;
    margin-top: -30px;
}

.experience-left-container h1 {
    font-size: 2.2em;
    font-weight: 300;
    margin-bottom: -10px;
}

.experience-right-container {
    width: 65%;
    position: relative;
}

.experience-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 60px;
}

.timeline-dot {
    width: 18px;
    height: 18px;
    border: 1px solid #006adc;
    border-radius: 50%;
    background-color: #f7f7f7;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    --line-height: 200px; /* Default value, will be overridden by JS */
}


.timeline-dot::before {
    content: '';
    position: absolute;
    left: 50%;
    top: calc(100% + 65%); /* Position the line below the dot */
    transform: translateX(-50%);
    width: 1px;
    height: calc(var(--line-height) - 130%);
    background-color: #006adc;
    z-index: -1; /* Ensure the line stays behind the content */
}

.experience-item:last-child .timeline-dot::before {
    display: none; /* Remove the line for the last dot */
}

.experience-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px 35px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

.experience-box:hover {
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.2);
}

/* Adjusted CSS for company cards */
.experience-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.experience-company-logo {
    width: 35px;
    height: auto;
    margin-right: 20px;
    margin-left: 7px;
}

.experience-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    margin-left: -7px;
}

.experience-role {
    font-size: 0.95em;
    font-weight: 600;
    color: #757575;
    margin: 0;
    line-height: 1.2;
}

.experience-company-name {
    font-size: 0.95em;
    font-weight: 300;
    color: #262626;
    margin: 0;
    line-height: 1.2;
}

.experience-company-name a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove underline by default */
    transition: background-color 0.5s ease, color 0.5s ease, text-decoration 0.5s ease; /* Smooth transition */
}

.experience-company-name a:hover {
    text-decoration: underline; /* Underline on hover */
    text-underline-offset: 3px;
    text-decoration-thickness: 0.75px;
}

.experience-date-location {
    font-size: 0.8em;
    font-weight: 300;
    color: #6b6b6b;
    margin: 0;
    line-height: 1.2;
}

.experience-description {
    font-size: 0.8em;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: 20px;
    transition: color 0.5s ease;
}

.experience-link {
    color: #1665c0;
    text-decoration: none;
}

.experience-description em {
    transition: color 0.0s ease;
}

/* Dark Mode Experience Block Styles */
body.dark-mode .experience-block {
    background-color: #23252f; /* Dark background color for experience block */
}

body.dark-mode .experience-left-container h1 {
    color: #ffffff;
}

body.dark-mode .experience-box {
    background-color: #343a40; /* Darker background for experience boxes */
    border: 1px solid #555555; /* Darker border color */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5); /* Slightly darker shadow */
}

body.dark-mode .experience-box:hover {
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.8); /* Darker shadow on hover */
}

body.dark-mode .experience-role,
body.dark-mode .experience-company-name,
body.dark-mode .experience-date-location {
    color: #e0e0e0; /* Light text color for dark mode */
}

body.dark-mode .experience-description {
    color: #ffffff; /* Light text color for dark mode */
}

body.dark-mode .experience-company-name a {
    color: #64b5f6; /* Light blue color for links in dark mode */
}

body.dark-mode .experience-company-name a:hover {
    text-decoration: none; /* Underline on hover */
}

body.dark-mode .experience-link {
    color: #bbdefb;
}

body.dark-mode .timeline-dot {
    background-color: #2c2c2c; /* Match the block's background */
    border: 1px solid #64b5f6; /* Light blue border for timeline dots */
}

body.dark-mode .timeline-dot::before {
    background-color: #64b5f6; /* Light blue for the connecting line */
}

/* Mobile Layout for screens below 820px */
@media only screen and (max-width: 992px) and (orientation: landscape) {
    .experience-block {
        padding: 35px 0; /* Reduce padding for smaller screens */
    }

    .experience-container {
        display: block;
        width: 89%;
    }

    .experience-left-container, 
    .experience-right-container {
        width: 100%;
        margin-top: 0;
    }

    .experience-left-container {
        margin-bottom: 30px; /* Add spacing between the two containers */
        text-align: center;  /* Center the text inside the left container */
    }

    .experience-left-container h1 {
        font-size: 2.1em;
    }

    .experience-right-container {
        width: 90%; /* The right container takes 85% of the width */
        margin: 0 0; /* Center the right container */
    }

    .experience-item {
        padding-left: 65px; /* Remove left padding for mobile */
        flex-direction: column; /* Stack the experience item vertically */
        align-items: flex-start;
        margin-bottom: 35px;
    }

    .timeline-dot {
        left: 8px; /* Adjust the position of the timeline dot */
        width: 15px;
        height: 15px;
    }

    .timeline-dot::before {
        height: calc(var(--line-height) - 18px); /* Adjust for smaller screens */
    }

    .experience-box {
        width: 100%;
        border-radius: 4px;
        padding: 20px 30px 18px 30px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    }

    .experience-role {
        font-size: 0.8em;
        line-height: 1.1;
    }

    .experience-company-name {
        font-size: 0.8em;
        line-height: 1.1;
    }

    .experience-date-location {
        font-size: 0.7em;
        line-height: 1.1;
    }

    .experience-description {
        font-size: 0.7em;
        line-height: 1.5;
        margin-top: -5px;
    }
}

/* Mobile Layout for screens below 680px */
@media only screen and (max-width: 680px) and (orientation: landscape) {
    .experience-block {
        padding: 45px 0;
    }

    .experience-container {
        display: block;
        width: 100%;
    }

    .experience-left-container h1 {
        font-size: 2.0em;
    }

    .experience-right-container {
        width: 100%; /* Right container takes 90% of the width */
    }

    .experience-item {
        padding-left: 0px;
        width: 100%; /* Experience item takes 90% of the width */
        margin-bottom: 35px;
    }

    .experience-box {
        width: 78%;
        margin: 0 auto;
        padding: 20px 31px; /* Adjust padding for smaller screens */
        border-radius: 3px;
    }

    .experience-role {
        font-size: 0.8em;
    }

    .experience-company-name {
        font-size: 0.85em;
    }

    .experience-date-location {
        font-size: 0.65em;
    }

    .experience-description {
        font-size: 0.65em;
        line-height: 1.6;
        color: #1a1a1a;
        margin-top: 8px;
    }

    .timeline-dot {
        display: none; /* Remove the timeline dot completely */
    }
}