/* Footer Styles */
#footer {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    color: #7e7e7e;
    margin-top: 0px;
}

/* Dark Mode Footer Styles */
body.dark-mode #footer {
    background-color: #23252f; /* Dark background color for footer */
    color: #b1b1b1; /* Light text color for footer in dark mode */
}