/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
    opacity: 0;
    transition: opacity 0.7s ease;
}

.modal.show {
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #cccccc;
    width: 46%;
    max-width: 460px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add some space between the header and the content */
}

.modal-header h2 {
    margin: 0; /* Remove default margin */
    font-size: 1.2em; /* Adjust font size if necessary */
    color: #333333;
}

.close-modal {
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#bibtex-code {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    white-space: pre; /* Ensures text wraps properly */
    font-family: monospace;
    color: #333333;
    font-size: 0.95em;
    line-height: 1.6;
    overflow-x: auto;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-buttons {
    text-align: right; /* Aligns the buttons to the right */
}

.modal-buttons button {
    font-size: 0.9em;
    color: #0064d0;
    background-color: transparent; /* Ensure the background is transparent */
    text-decoration: none;
    border: 1px solid #0064d0;
    padding: 7px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin-left: 10px; /* Adds some space between the buttons */
}

.modal-buttons button i {
    transition: none;
}

.modal-buttons button:hover {
    background-color: #0064d0;
    color: #ffffff;
}

.modal-buttons button.copied {
    box-shadow: 0 0 1px 3px #90b2e0; /* Blue shadow */
}

/* Dark Mode for Modal */
body.dark-mode .modal-content {
    background-color: #282a36; /* Darker background for modal content */
    border: 1px solid #454759; /* Darker border color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

body.dark-mode .modal-header h2 {
    color: #ffffff; /* Light color for the header text */
}

body.dark-mode .close-modal {
    color: #b6b6b6; /* Lighter close icon color */
}

body.dark-mode .close-modal:hover,
body.dark-mode .close-modal:focus {
    color: #ffffff; /* Lighter close icon on hover */
}

body.dark-mode #bibtex-code {
    background-color: #44475a; /* Darker background for the BibTeX area */
    color: #f8f8f2; /* Light text color for BibTeX */
}

body.dark-mode .modal-buttons button {
    color: #64b5f6; /* Light blue color for buttons in dark mode */
    border-color: #64b5f6; /* Match border to button color */
}

body.dark-mode .modal-buttons button:hover {
    background-color: #64b5f6; /* Light blue background on hover */
    color: #ffffff; /* White text on hover */
}

/* Animation Keyframes */
@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply animation to modal content */
.modal-content.show {
    opacity: 1;
    transform: translateY(0);
    animation: fadeInSlideDown 0.7s ease;
}

/* Smaller Screens (below 992px) */
@media only screen and (max-width: 992px) {
    .modal-content {
        width: 73%; /* Adjust the width to be more suitable for smaller screens */
        padding: 10px 14px 15px 14px; /* Reduce padding */
    }

    .modal-header h2 {
        font-size: 0.9em; /* Adjust header font size */
    }

    #bibtex-code {
        font-size: 0.75em; /* Adjust BibTeX font size */
        padding: 8px; /* Adjust padding */
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .modal-buttons button {
        font-size: 0.7em; /* Adjust button font size */
        padding: 5px 7px; /* Adjust padding for buttons */
    }

    .close-modal {
        font-size: 20px;
    }
}

/* Smaller Screens (below 680px) */
@media only screen and (max-width: 680px) {
    .modal-content {
        width: 90%; /* Adjust the width to be more suitable for smaller screens */
        padding: 10px 14px 15px 14px; /* Reduce padding */
    }
}