body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh; /* Ensure it covers the full viewport height */
}

#actual-game, #account-money {
    padding: 20px;
    box-sizing: border-box;
}

#actual-game {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#account-money {
    width: 40%;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#game-progress {
    width: 100%;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.chests-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
}

.chest {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* .dynamite {
    background-color: #f88;
} */

/* Styles for the forms, inputs, and buttons */
form {
    margin: 20px 0;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 10px;
}

button, .stake-button {
    padding: 10px;
    margin: 5px 0; /* Space between buttons */
    cursor: pointer;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
}

button:hover, .stake-button:hover {
    background-color: #ccc;
}

/* Responsive adjustments */
@media (max-width: 860px) {
    #game-container {
        flex-direction: column;
    }

    #actual-game, #account-money {
        width: 100%;
    }
}

#game-progress table {
    width: 100%;
    border-collapse: collapse;
}

#game-progress th, #game-progress td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#game-progress tr:nth-child(even) {background-color: #f2f2f2;}

#game-progress th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: darkgreen;
    color: white;
}