:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

body.no-scroll {
    overflow: hidden;
}

/* Container for desktop version */

.mobile-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Header styling */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7.7vh;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5%; /* Changed 7.5 to 5*/
    border-bottom: 0.15vh solid #e0e0e0;
    z-index: 1050; /* Ensure it stays on top of other content */
}

.header-icons {
    display: flex;
    align-items: center;
}

.how-to-play-icon {
    font-size: 2vh;
    color: #333;
    cursor: pointer;
    margin-left: -3vh;
}
.settings-icon {
    font-size: 2vh;
    color: #333;
    cursor: pointer;
    margin-left: 2vh;
}

.menu-icon {
    font-size: 2vh;
    color: #333;
    cursor: pointer;
}

/* Adjust for desktop version */
@media (min-width: 600px) {
    .how-to-play-icon,
    .settings-icon {
        font-size: 1.8vh;
    }
}

/* Header Title Logo */

.title {
    font-size: 2.5vh;
    font-weight: 700;
    color: #333;
}

.title .fancy {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3vh;
}

.title .separator {
    margin: 0 0.3vh;
}

.title .puzzles-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Slogan on game */

.slogan {
    flex-shrink: 0;
    width: 90%;
    margin: 10.7vh auto -7.7vh;
    text-align: center;
    font-size: 1.87vh;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    font-weight: bold;
}

/* Main */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10.7vh 5%;
    overflow-y: auto;
}

/* Game info container */

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -17.3vh;
}

/* Logo */

.game-logo {
    width: 12vh;
    height: auto;
    margin-bottom: 3vh;
}

/* Title */

h1 {
    font-size: 5.5vh;
    font-weight: 700;
    color: #333;
    margin-bottom: 2vh;
}

/* Subtitle */

p {
    font-size: 2vh;
    color: #666;
    margin-bottom: 4vh;
    max-width: 90%;
}

/* Play button */

#play-button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 1.5vh 8vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10vh;
    transition: background-color 0.3s ease;
}

#play-button:hover {
    background-color: #2980b9;
}

/* Footer Styling */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2vh 0;
    background-color: white;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    text-align: center;
    font-size: 1.8vh;
    color: #888;
    padding: 0 5%;
    white-space: normal;
}

.footer-content a {
    color: #3498db;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* Game Content Styling */

.game-content {
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0vh 0;
}

.game-area {
    width: 95%;
    height: 50vh;
    background-color: white; /* Changed from #f0f0f0 to white */
    border-radius: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.grid-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 0;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.grid-container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.grid-cell {
    background-color: white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.grid-cell::before {
    content: "\f001";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 60%;
    color: black; /* Default color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Colors of the paths */
.grid-cell.found.path-0::before { color: #DA70D6; }  /* Orchid */
.grid-cell.found.path-1::before { color: #FF7F50; }  /* Coral */
.grid-cell.found.path-2::before { color: #006eff; }  /* Bright Blue */
.grid-cell.found.path-3::before { color: #FFD700; }  /* Gold */
.grid-cell.found.path-4::before { color: #2b6a00; }  /* Dark Green */

.grid-cell.vocal-hint::before {
    content: "\f130"; /* Microphone icon */
}

.grid-cell::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* transition: background-color 0.3s ease; */
    z-index: 1;
}

/* Styles for selected cell */
.grid-cell.selected::after {
    background-color: #dbd8c5;
    border-style: none;
}

.grid-cell.bounce::after {
    animation: bounceEffect 0.3s ease-out forwards;
    animation-fill-mode: forwards;
}

@keyframes bounceEffect {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        background-color: transparent;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
        background-color: #dbd8c5;
    }
    70% {
        transform: translate(-50%, -50%) scale(0.9);
        background-color: #dbd8c5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        background-color: #dbd8c5;
    }
}

@keyframes bounceFoundEffect {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        background-color: #dbd8c5;
        opacity: 0.5;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        background-color: #aedfee;
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        background-color: #aedfee;
    }
}

.connection-line {
    stroke: #dbd8c5;
    stroke-width: 1.3vh;
    fill: none;
    pointer-events: none;
}

.game-controls {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

/* Hint button + score counter */

#hint-button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 1vh 4vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8vh;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5vh;
    transition: background-color 0.3s ease;
}

#hint-button:hover {
    background-color: #2980b9;
}

.score-counter {
    font-size: 1.8vh;
    color: #333;
}

.score-counter strong {
    font-weight: bold;
}

/* Things for desktop version */

@media (min-width: 600px) { /* 600px */
    .mobile-container {
        height: 90vh;
        width: calc(90vh * (390 / 844));
        max-width: 100vw;
        max-height: 90vh;
        border-radius: 5vmin;
        box-shadow: 0 0 5vmin rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
    }

    header {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
    }

    .slogan {
        font-size: 1.5vh;
    }

    h1 {
        font-size: 5vh;
    }

    p {
        font-size: 1.7vh;
    }

    #play-button {
        font-size: 2vh;
    }

    footer p {
        font-size: 1.5vh;
    }

    .game-area {
        height: 45vh; /* 65% of 90vh (mobile container height) */
    }

    .score-counter {
        font-size: 1.8vh;
    }

    #hint-button {
        padding: 0.7vh 3.5vh;
        font-size: 1.7vh;
        border-radius: 4.5vh;
    }
}

.grid-cell.found {
    pointer-events: none;
}

.grid-cell.playing::before,
.grid-cell.playing.found::before,
.grid-cell.playing.found.path-0::before,
.grid-cell.playing.found.path-1::before,
.grid-cell.playing.found.path-2::before,
.grid-cell.playing.found.path-3::before,
.grid-cell.playing.found.path-4::before {
    color: greenyellow;
}

.grid-cell.found::after {
    background-color: #aedfee;
    animation: bounceFoundEffect 0.3s ease-out forwards;
}

.connection-line.permanent,
svg line.permanent {
    stroke: #aedfee;
}

/* Path hint styles */
.grid-cell.path-hint {
    border-style: dashed;
    border-width: 0.35vh;
}

.grid-cell.selected.path-hint {
    border: none;
}

/* Dashed border colors for each path */
.grid-cell.path-hint.path-0 { border-color: #DA70D6; }
.grid-cell.path-hint.path-1 { border-color: #FF7F50; }
.grid-cell.path-hint.path-2 { border-color: #006eff; }
.grid-cell.path-hint.path-3 { border-color: #FFD700; }
.grid-cell.path-hint.path-4 { border-color: #2b6a00; }

/* Vocal hint styles */
.grid-cell.vocal-hint::before {
    content: "\f130"; /* Microphone icon */
}

#hint-button.disabled {
    background: #ccc;
    background-image: none;
    cursor: pointer;
}

/* Give up button styles */
#hint-button.give-up {
    background: #e74c3c;
    background-image: none;
}

#hint-button.give-up:hover {
    background: #c0392b;
}

#hint-button.results {
    background: #27ae60; /* Green color */
    background-image: none;
    cursor: pointer;
}

#hint-button.results:hover {
    background: #1e8449;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 95%;
    max-height: 81vh;
    border-radius: 2.2vh;
    padding: 2.2vh;
    box-shadow: 0 0.2vh 1.1vh rgba(0, 0, 0, 0.1);
    animation: zoomIn 0.3s ease-out;
    overflow-y: auto;
    position: relative;
    top: 0;
    transform: translateY(0);
}

@keyframes zoomIn {
    from { 
        opacity: 0;
        transform: scale(0.95);
    }
    to { 
        opacity: 1;
        transform: scale(1);
    }
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2.2vh;
}

.modal-title {
    font-size: 3vh;
    font-weight: 700;
    margin: 0 0 1.5vh;
    text-align: center;
}

.back-to-puzzle {
    font-size: 1.75vh;
    color: #000000;
    cursor: pointer;
    margin-right: 1.7vh;
}

.close {
    font-size: 3.5vh;
    color: #000000;
    cursor: pointer;
    line-height: 1;
}

.date-info {
    font-size: 2vh;
    color: #666;
    text-align: center;
    margin: 0 auto 2.2vh auto;
}

.result-square {
    width: 25vh;
    height: 25vh;
    background-color: #f0f0f0;
    margin: 0 auto 2.2vh;
}

.congratulations {
    font-size: 2vh;
    text-align: center;
    margin: 0 auto 2.2vh auto;
}

.next-puzzle-text {
    font-size: 1.75vh;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin: 0 auto 0px auto;
}

#countdown-timer {
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3vh;
}

#share-results {
    display: block;
    width: 60%;
    padding: 1.4vh 2.3vh;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5.5vh;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto 3vh;
    transition: background-color 0.3s;
}

#share-results:hover {
    background-color: #2980b9;
}

@media (min-width: 600px) {
    .modal {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(90vh * (390 / 844));
        max-width: 100vw;
        height: 90vh;
        max-height: 90vh;
        overflow: hidden;
    }

    .modal-content {
        width: 95%;
        height: 77%;
        max-height: 100%;
        border-radius: 1.9vh;
        padding: 2.1vh;
        overflow-y: auto;
    }

    .modal-header {
        margin-bottom: 1.9vh;
    }
    
    .modal-title {
        font-size: 2.7vh;
        margin: 0 0 1.4vh;
    }
    
    .back-to-puzzle {
        font-size: 1.45vh;
        margin-right: 1.4vh;
    }
    
    .close {
        font-size: 3.2vh;
    }

    .date-info {
        font-size: 1.7vh;
        margin: 0 auto 1.9vh auto;
    }
    
    .result-square {
        width: 22vh;
        height: 22vh;
        margin: 0 auto 1.9vh;
    }
    
    .congratulations {
        font-size: 1.8vh;
        margin: 0 auto 1.9vh auto;
    }
    
    .next-puzzle-text {
        font-size: 1.45vh;
    }
    
    #countdown-timer {
        font-size: 2.7vh;
        margin-bottom: 2.7vh;
    }
    
    #share-results {
        padding: 1.1vh 2.0vh;
        border-radius: 5.2vh;
        font-size: 1.7vh;
        margin: 0 auto 2.7vh;
    }
}

@keyframes pulseDiagonal {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.grid-cell.pulse-animate {
    animation: pulseDiagonal 0.3s ease-in-out;
    z-index: 3;
}

@keyframes finalPulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}

.grid-cell.final-pulse {
    animation: finalPulse 0.3s ease-in-out;
    z-index: 3;
}

@keyframes revealLine {
    0% {
        opacity: 0;
        stroke-dashoffset: 100%;
    }
    100% {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

svg line.reveal-animate {
    stroke-dasharray: 100%;
    animation: revealLine 0.5s ease-out forwards;
}

.grid-cell.found::after {
    background-color: #aedfee;
}

@keyframes copyAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes returnAnimation {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.03);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.copy-animation {
    animation: copyAnimation 0.3s ease-in-out;
    background-color: #2ecc71 !important; /* Change to a success color */
    transition: background-color 0.3s ease;
}

.return-animation {
    animation: returnAnimation 0.3s ease-in-out;
    transition: background-color 0.3s ease;
}

/* SETTINGS MENU */
.settings-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    touch-action: none;
}

.settings-overlay.show {
    display: block;
    opacity: 1;
}

.settings-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top-left-radius: 2.2vh;
    border-top-right-radius: 2.2vh;
    transform: translateY(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2001;
    box-shadow: 0 -0.44vh 0.67vh -0.11vh rgba(0, 0, 0, 0.1), 0 -0.22vh 0.44vh -0.11vh rgba(0, 0, 0, 0.06);
    overflow-y: auto; /* Enable internal scrolling if content overflows */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.settings-menu.show {
    transform: translateY(0);
}

.settings-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.2vh 2.2vh 0; /* Remove bottom padding */
    position: relative; /* Add this */
}

.settings-header h2 {
    margin-top: 2.2vh; /* Increase top margin to make room for the close button */
    margin-bottom: -2vh;
    font-size: 2.2vh;
    font-weight: bold;
}

.close-settings {
    position: absolute; /* Position absolutely within the header */
    top: 1.4vh; /* Adjust as needed */
    right: 2vh; /* Adjust as needed */
    background: none;
    border: none;
    font-size: 2.8vh;
    cursor: pointer;
    color: #000000;
}

.settings-content {
    padding: 3vh;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 0;
    font-size: 2vh;
    border-bottom: 0.1vh solid #000000;
}

.settings-item > span:first-child {
    font-weight: bold;
}

.settings-item > span:last-child {
    font-weight: normal;
}

.settings-item:last-child {
    border-bottom: none;
}

#survey-link, #email-link {
    cursor: pointer;
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 6.7vh;
    height: 3.75vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.9vh;
    width: 2.9vh;
    left: 0.44vh;
    bottom: 0.44vh;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(2.9vh);
}

.slider.round {
    border-radius: 3.75vh;
}

.slider.round:before {
    border-radius: 50%;
}

/* Animation classes */
.settings-menu.show {
    bottom: 0;
}

.settings-overlay.show {
    display: block;
}

@media (min-width: 600px) {
    .settings-overlay {
        position: absolute;
        width: calc(90vh * (390 / 844));
        height: 90vh;
        max-width: 100%;
        max-height: 90vh;
        border-radius: 5vmin;
        overflow: hidden;
    }

    .settings-menu {
        position: absolute;
        width: 100%;
        max-height: 90vh;
        border-radius: 2.1vh;
        box-shadow: 0 -0.42vh 0.63vh -0.1vh rgba(0, 0, 0, 0.1), 0 -0.20vh 0.42vh -0.1vh rgba(0, 0, 0, 0.06); /* Add this line */
    }

    .settings-header h2 {
        font-size: 2vh;
    }

    .settings-item {
        padding: 1.62vh 0;
        font-size: 1.8vh;
        border-bottom: 0.09vh solid #000000;
    }
}

/* Navigation Bar */

/* Navigation Overlay */
.nav-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    touch-action: none;
}

.nav-overlay.open {
    opacity: 1;
}

/* Navigation Menu */
.nav-menu {
    position: fixed;
    top: 7.7vh; /* Adjust this value to match your header height */
    left: -80%;
    width: 80%;
    height: calc(100% - 7.7vh); /* Subtract header height */
    background-color: #fff;
    overflow-y: auto;
    transition: left 0.3s ease-out;
    z-index: 1001;
    box-shadow: 0.24vh 0 0.58vh rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable internal scrolling if content overflows */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.nav-menu.open {
    left: 0;
}

.nav-content {
    padding: 2.5vh;
}

.nav-section {
    margin-bottom: 3vh;
}

.nav-section h3 {
    font-size: 2.2vh;
    font-weight: bold;
    margin-bottom: 1.35vh;
    color: #333;
}

.nav-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-section li {
    margin-bottom: 1.85vh;
}

.nav-section a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 1.8vh;
}

.nav-icon {
    width: 2.6vh;
    height: 2.6vh;
    margin-right: 1.81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon.fab {
    font-size: 2.6vh; /* Match the size of image icons */
}

.nav-icon.fas {
    font-size: 2.6vh; /* Match the size of image icons */
}

.nav-icon.profile-icon {
    border-radius: 50%;
    object-fit: cover;
}

/* Menu Icon */
.menu-icon {
    transition: transform 0.3s ease;
}

.menu-icon.open {
    transform: rotate(90deg);
}

@media (min-width: 600px) {
    .nav-overlay {
        position: absolute;
        width: calc(90vh * (390 / 844));
        height: 90vh;
        max-width: 100vw;
        max-height: 90vh;
        border-radius: 5vmin;
        overflow: hidden;
    }

    .nav-menu {
        position: absolute;
        top: 7.7vh; /* Adjust this value to match your header height */
        left: -80%;
        width: 80%;
        height: calc(100% - 7.7vh); /* Subtract header height */
        max-width: calc(90vh * (390 / 844));
    }

    .nav-menu.open {
        left: 0;
    }
}

/* How to Play Modal Styling */
.how-to-play-modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    touch-action: none;
    -webkit-overflow-scrolling: touch;
}

.how-to-play-modal-content {
    background-color: white;
    width: 100%;
    height: 82vh;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 2.2vh;
    border-top-right-radius: 2.2vh;
    box-shadow: 0 -0.44vh 0.67vh -0.11vh rgba(0, 0, 0, 0.1), 0 -0.22vh 0.44vh -0.11vh rgba(0, 0, 0, 0.06);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
}

.how-to-play-modal.show .how-to-play-modal-content {
    transform: translateY(0);
}

.how-to-play-modal-header {
    padding: 2.2vh;
    flex-shrink: 0;
    position: relative;
    display: flex;
    justify-content: flex-end; /* Change to align close button to the right */
    align-items: center;
}

.how-to-play-close {
    position: absolute;
    right: 2vh;
    top: 3vh;
    transform: translateY(-50%);
    font-size: 2.8vh;
    background: none;
    border: none;
    cursor: pointer;
}

.how-to-play-modal-body {
    flex-grow: 1;
    overflow: hidden;
    padding: 0;
}

.how-to-play-pages-container {
    display: flex;
    transition: transform 0.5s ease-out;
    width: 300%; /* 100% for each page */
    height: 100%;
}

.how-to-play-page {
    flex: 0 0 33.3333%; /* Each page takes up 1/3 of the container */
    padding: 0 3%;
    box-sizing: border-box;
    overflow-y: auto;
}

.how-to-play-title {
    font-size: 2.5vh;
    font-weight: bold;
    margin: 0 0 2.2vh 0;
    padding: 0;
    text-align: left;
}

.how-to-play-image-container {
    width: 100%;
    height: 0;
    padding-top: 70%; /* Maintains aspect ratio */
    position: relative;
    background-color: transparent;
    margin-bottom: 2.2vh;
    border-radius: 1.1vh;
    overflow: hidden; /* Ensures content doesn't overflow */
}

.how-to-play-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Adjusts image to fit within container */
}

.how-to-play-explanation-text {
    font-size: 1.8vh;
    line-height: 1.5;
    margin-bottom: 2.2vh;
}

.explanation-title {
    color: #000000;
    font-weight: bold;
    margin-bottom: 1vh;
}

.how-to-play-spacer {
    flex-grow: 1;
}

.explanation-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.explanation-list li {
    position: relative;
    padding-left: 2.7vh;
    margin-bottom: 0.9vh;
}

.explanation-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: black;
}

.how-to-play-modal-footer {
    padding: 2.2vh 14%;
    flex-shrink: 0;
}

.how-to-play-page-dots {
    display: flex;
    justify-content: center;
    margin-bottom: 2.2vh;
}

.how-to-play-dot {
    height: 0.8vh;
    width: 0.8vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.5vh;
}

.how-to-play-dot.active {
    background-color: #717171;
}

.how-to-play-navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.how-to-play-navigation-buttons button {
    width: calc(50% - 0.5vh);
    padding: 1.5vh 0;
    border: 0.11vh solid #000;
    border-radius: 1vh;
    font-size: 1.8vh;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#how-to-play-back-button {
    background-color: transparent;
    color: #000;
}

#how-to-play-next-button {
    background-color: #fff;
    color: #000;
}

#how-to-play-next-button.last-page {
    background-color: #000;
    color: #fff;
}

#how-to-play-back-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (min-width: 600px) {
    .how-to-play-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5vmin;
        overflow: hidden;
        left: 0;
        top: 0;
        transform: none;
    }

    .how-to-play-modal-content {
        width: 100%;
        height: 85%;
        max-height: 85%;
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .how-to-play-modal.show .how-to-play-modal-content {
        transform: translateY(0);
    }

    .how-to-play-title {
        font-size: 2.3vh;
        margin: 0 0 2.0vh 0;
    }

    .how-to-play-image-container {
        margin-bottom: 2vh;
        border-radius: 1vh;
    }
    
    .how-to-play-explanation-text {
        font-size: 1.5vh;
        margin-bottom: 1.8vh;
    }
    
    .explanation-title {
        margin-bottom: 0.87vh;
    }
}

.grid-cell.last-selected::after {
    animation: pulsate 1s infinite;
}

@keyframes pulsate {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.15);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

/* Updated shake animation for incorrect paths */
@keyframes shakeEffect {
    0% { transform: translate(-50%, -50%); }
    10% { transform: translate(calc(-50% - 0.3vh), -50%); }
    20% { transform: translate(calc(-50% + 0.3vh), -50%); }
    30% { transform: translate(calc(-50% - 0.3vh), -50%); }
    40% { transform: translate(calc(-50% + 0.3vh), -50%); }
    50% { transform: translate(-50%, -50%); }
    100% { transform: translate(-50%, -50%); }
}

.grid-cell.shake::after {
    animation: shakeEffect 0.6s;
}

/* Hint button to Give Up button animation */

/* Ensure the hint button has transition effects */
#hint-button {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Pulse animation keyframes */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Apply the pulse animation when the button changes to 'give-up' */
#hint-button.give-up {
    animation: pulse 0.5s;
}

/* Optional: Change the text color smoothly */
#hint-button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Need a hint modal */
.need-hint-modal {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    touch-action: none; /* Prevent touch events from scrolling the background */
}

.need-hint-modal.show {
    opacity: 1;
}

.need-hint-modal-content {
    background-color: white;
    width: 90%;
    max-width: 400px;
    border-radius: 2.2vh;
    box-shadow: 0 0.2vh 1.1vh rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateY(-3vh);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.need-hint-modal.show .need-hint-modal-content {
    transform: translateY(-3vh) scale(1);
    opacity: 1;
}

@keyframes hintModalZoomIn {
    from { 
        opacity: 0;
        transform: translateY(-3vh) scale(0.95);
    }
    to { 
        opacity: 1;
        transform: translateY(-3vh) scale(1);
    }
}

@keyframes hintModalZoomOut {
    from { 
        opacity: 1;
        transform: translateY(-3vh) scale(1);
    }
    to { 
        opacity: 0;
        transform: translateY(-3vh) scale(0.95);
    }
}

.need-hint-modal-header {
    padding: 2.2vh;
    display: flex;
    justify-content: flex-end;
}

.need-hint-close {
    font-size: 3vh;
    color: #000000;
    cursor: pointer;
    line-height: 1;
}

.need-hint-modal-body {
    padding: 0 2.2vh 2.2vh;
}

.need-hint-title {
    font-size: 2.5vh;
    font-weight: 700;
    margin: -3vh 0 1.5vh;
    text-align: left;
}

.need-hint-visual {
    width: 60%;
    margin: 0 auto 2.5vh;
    height: 25vh;
    background-color: #f0f0f0;
    border-radius: 1vh;
}

.need-hint-subtitle {
    color:#000000;
    font-size: 1.85vh;
    font-weight: bold;
    margin-bottom: 1vh;
}

.need-hint-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0 0 2.2vh;
}

.need-hint-list li {
    position: relative;
    padding-left: 2.7vh;
    font-size: 1.7vh;
    line-height: 1.5;
    margin-bottom: 0.9vh;
}

.need-hint-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: black;
}

.need-hint-buttons {
    display: flex;
    justify-content: space-between;
}

.need-hint-button {
    width: 48%;
    padding: 1.5vh 0;
    border: 0.11vh solid #000;
    border-radius: 1vh;
    font-size: 1.8vh;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#need-hint-give-up {
    background-color: transparent;
    color: #000;
}

#need-hint-okay {
    background-color: #000;
    color: #fff;
}

@media (min-width: 600px) {
    .need-hint-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .need-hint-modal-content {
        width: 90%;
        transform: translateY(-2vh)
    }

    .need-hint-modal.show .need-hint-modal-content {
        transform: translateY(-2vh);
    }

    .need-hint-title {
        font-size: 2.3vh;
    }

    .need-hint-subtitle {
        font-size: 1.5vh
    }

    .need-hint-list li {
        font-size: 1.45vh;
    }

    .need-hint-button {
        font-size: 1.5vh;
    }
}
